*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 100px;
    background-color: lightgray;
}


.side-bar{
    width: 50px;
    height: 1000px;
    background-color: darkslateblue;
}

.side-bar-menu{
    height: 50px;
    background-color: white;
}

.dashboard{
    width: calc(100% - 50px);
    height: 1000px;
    background-color: darkgreen;
}

.height{
    height: 100%;
}
.top-bar{
    background-color: brown;
    height: 100px;
}


.left-dashboard{
    height: 700px;
    background-color: darkred;
}

.right-dashboard{
    height: 700px;
    background-color: rgb(2, 79, 43);
}

.classes{
    height: 300px;
    background-color: rgb(41, 2, 79);

}
.faq{
    height: 200px;
    background-color: rgb(79, 2, 58);

}




@media screen and (min-width:1200px) {
    .side-bar{
        width:200px;
        
    }
    
    .dashboard{
        width: calc(100% - 200px);
        
    }
}